<a href="https://colab.research.google.com/github/brunoribeiro122/AtividadeAds/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

AULA1 PANDAS

#AULA 1- PANDAS

In [ ]:
import pandas as pd

In [ ]:
base = pd.read_excel('/content/drive/MyDrive/base_cida/selecao.xlsx')
base2 = pd.read_excel('/content/drive/MyDrive/base_cida/selecaofic.xlsx')

In [ ]:
display(base)
display(base2)

      SELEÇÃO  TITULOS MUNDIAIS  VICE CAMPEONATO  3° LUGAR
0      BRASIL                 5                2         2
1  ARGENTINA                  3                3         0
2    ALEMANHA                 4                4         4

       SELEÇÃO  TITULOS MUNDIAIS  VICE CAMPEONATO  3° LUGAR
0      Belgica                 3                2         2
1    Dinamarca                 5               25         7
2        Chile                 7                3         3
3      Bolivia                 2                7         7
4        Qatar                 1                9         2
5       Arabia                 3                0         1
6       Angola                 5                4         3
7   Inglaterra                 7                2         2
8      Uruguai                 5                6        34
9       Italia                 1                4        64
10      França                 3                3         1
11      Mexico                 2                3         5
12     Croacia                 2                5         9
13         EUA                 8                7         1
14      Canada                 2                4         6
15     Espanha                 6                9         2

In [ ]:
tabela = {'selecao': ['Brasil', 'Argentina', 'Alemanha'],
          'mundiais': ['5','3','4'],
          'vice campeao': ['2','3','4']}

In [ ]:
dataframe = pd.DataFrame(tabela)

In [ ]:
display(dataframe)

NameError: ignored

In [ ]:
base.head()

      SELEÇÃO  TITULOS MUNDIAIS  VICE CAMPEONATO  3° LUGAR
0      BRASIL                 5                2         2
1  ARGENTINA                  3                3         0
2    ALEMANHA                 4                4         4

In [ ]:
display(base.head(1))

  SELEÇÃO  TITULOS MUNDIAIS  VICE CAMPEONATO  3° LUGAR
0  BRASIL                 5                2         2

In [ ]:
print(base.shape)

(3, 4)

In [ ]:
display(base.describe())

       TITULOS MUNDIAIS  VICE CAMPEONATO  3° LUGAR
count               3.0              3.0       3.0
mean                4.0              3.0       2.0
std                 1.0              1.0       2.0
min                 3.0              2.0       0.0
25%                 3.5              2.5       1.0
50%                 4.0              3.0       2.0
75%                 4.5              3.5       3.0
max                 5.0              4.0       4.0

In [ ]:
titulos = base[['VICE CAMPEONATO']]

In [ ]:

display(titulos)

   VICE CAMPEONATO
0                2
1                3
2                4

In [ ]:
print(base)

      SELEÇÃO  TITULOS MUNDIAIS  VICE CAMPEONATO  3° LUGAR
0      BRASIL                 5                2         2
1  ARGENTINA                  3                3         0
2    ALEMANHA                 4                4         4

In [ ]:
selecao = base[['SELEÇÃO', 'TITULOS MUNDIAIS']]

In [ ]:
display(selecao)

      SELEÇÃO  TITULOS MUNDIAIS
0      BRASIL                 5
1  ARGENTINA                  3
2    ALEMANHA                 4

In [ ]:
display(base.iloc[:2])
display(base)

      SELEÇÃO  TITULOS MUNDIAIS  VICE CAMPEONATO  3° LUGAR
0      BRASIL                 5                2         2
1  ARGENTINA                  3                3         0

      SELEÇÃO  TITULOS MUNDIAIS  VICE CAMPEONATO  3° LUGAR
0      BRASIL                 5                2         2
1  ARGENTINA                  3                3         0
2    ALEMANHA                 4                4         4

In [ ]:
selecoesmund = base.loc[base['SELEÇÃO'] == 'BRASIL']
display(selecoesmund)

  SELEÇÃO  TITULOS MUNDIAIS  VICE CAMPEONATO  3° LUGAR
0  BRASIL                 5                2         2

In [ ]:
vices = base.loc[base['SELEÇÃO'] == 'BRASIL',['SELEÇÃO','TITULOS MUNDIAIS','VICE CAMPEONATO','3° LUGAR']]
display(vices)

  SELEÇÃO  TITULOS MUNDIAIS  VICE CAMPEONATO  3° LUGAR
0  BRASIL                 5                2         2

In [ ]:
print(base.loc[1,'SELEÇÃO'])

NameError: ignored

In [ ]:
base.loc[:1, "titulos Perdidos"] = 6

In [ ]:
print(base)

      SELEÇÃO  TITULOS MUNDIAIS  VICE CAMPEONATO  3° LUGAR  titulos Perdidos
0      BRASIL                 5                2         2               6.0
1  ARGENTINA                  3                3         0               6.0
2    ALEMANHA                 4                4         4               NaN

In [ ]:
base['VICE CAMPEONATO'] = base2['TITULOS MUNDIAIS'] - 0.05
display(base)

NameError: ignored

In [ ]:
base = base.reset_index()
display(base)

In [ ]:
basesemmudial = base.drop("TITULOS MUNDIAIS", axis=1)
display(basesemmudial)

    index     SELEÇÃO  VICE CAMPEONATO  3° LUGAR  titulos Perdidos
0       0      BRASIL             2.95         2               6.0
1       1  ARGENTINA              4.95         0               6.0
2       2    ALEMANHA             6.95         4               NaN
3       0     Belgica             1.95         2               NaN
4       1   Dinamarca             0.95         7               NaN
5       2       Chile             2.95         3               NaN
6       3     Bolivia             4.95         7               NaN
7       4       Qatar             6.95         2               NaN
8       5      Arabia             4.95         1               NaN
9       6      Angola             0.95         3               NaN
10      7  Inglaterra             2.95         2               NaN
11      8     Uruguai             1.95        34               NaN
12      9      Italia             1.95        64               NaN
13     10      França             7.95         1               NaN
14     11      Mexico             1.95         5               NaN
15     12     Croacia             5.95         9               NaN
16     13         EUA              NaN         1               NaN
17     14      Canada              NaN         6               NaN
18     15     Espanha              NaN         2               NaN
19      0     Belgica              NaN         2               NaN
20      1   Dinamarca              NaN         7               NaN
21      2       Chile              NaN         3               NaN
22      3     Bolivia              NaN         7               NaN
23      4       Qatar              NaN         2               NaN
24      5      Arabia              NaN         1               NaN
25      6      Angola              NaN         3               NaN
26      7  Inglaterra              NaN         2               NaN
27      8     Uruguai              NaN        34               NaN
28      9      Italia              NaN        64               NaN
29     10      França              NaN         1               NaN
30     11      Mexico              NaN         5               NaN
31     12     Croacia              NaN         9               NaN
32     13         EUA              NaN         1               NaN
33     14      Canada              NaN         6               NaN
34     15     Espanha              NaN         2               NaN

In [ ]:
base2.to_excel(r'basesemmundial.xlsx', index=False)